#gamearea {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#gamearea > .leftcolumn {
    flex: none;
    width: 10%;
    margin: 0px;
    padding: 0px;
}

#gamearea > .rightcolumn {
    display: flex;
    justify-content: center;
    width: 10%;
    margin: 0px;
    padding: 0px;
}

#gamearea > .middlecolumn {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    flex: none;
    width: 80%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#gamearea > .middlecolumn > .middlecolumntop {
    flex: auto;
}

#gamearea > .middlecolumn > .middlecolumnmiddle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 0 1 auto;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#gamearea > .middlecolumn > .middlecolumnbottom {
    flex: auto;
}

#gamearea > .middlecolumn > .middlecolumnmiddle > div {
    height: 35%;
    padding-bottom: 17%;
    position: relative;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    display: inline-block;
    z-index: -1;
}

.mainmenubutton {
    position: relative;
    top: 5%;
    align-self: flex-start;
    color: green;
}
/*
.leftcolumn {
    background-color: red;
}

.middlecolumn {
    background-color: khaki;
}

.rightcolumn {
    background-color: green;
}*/
