.image {
    position: absolute;
    user-select: none;
    width: 100%;
    height: 100%;
}

.four {
    width: 25%;
}

.five {
    width: 20%;
}

.six {
    width: 16.66%;
}

.eight {
    width: 12.5%;
}

.ten {
    width: 10%;
}